@import "styles/variables.scss";

.top {
  width: 100%;
  height: 400px;
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.backgroundImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(2px);
}

.shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 0 60px;
}

.logo {
  color: $color-primary;
  font-size: 24px;
  text-shadow: 1px 1px black;
  z-index: 2;

  strong {
    font-weight: 900;
  }
}

button.addButton {
  font-weight: 600;
  text-transform: uppercase;

  &:hover {
    color:  $color-primary;
  }
}

.content {
  margin-top: 20px;
}

.form {
  padding: 0 160px;
}

.title {
  font-size: 32px;
  text-transform: uppercase;
  color: $color-white;
  font-weight: 100;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

button.searchButton {
  margin-left: 8px;
  padding: 8px 64px;
  text-transform: uppercase;
}

.movie {
  display: flex;
  max-height: 300px;
  padding: 0 60px;
  overflow: auto;
}

.poster {
  max-height: 300px;
}

.details {
  margin-left: 48px;
}

.movieTitle {
  display: flex;
  align-items: center;
  font-size: 42px;
}

.text {
  flex: 1 1;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  font-size: 24px;
  margin-left: 32px;
  border: 1px solid rgba($color-white, 0.8);
  border-radius: 50%;

  &.good {
    color: #66bb6a;
  }
}

.tagline {
  color: rgba($color-white, 0.8);
}

.numbers {
  display: flex;
  align-items: center;
  margin-top: 24px;
  color: $color-primary;
  font-size: 24px;
}

.duration {
  margin-left: 64px;
}

.overview {
  margin-top: 24px;
}

.icon {
  width: 24px;
  height: 24px;
  fill: $color-primary;
  cursor: pointer;
}