@import "styles/variables.scss";

.container {
  margin-top: 8px;
  padding: 16px 32px 64px;
  background-color: $color-background;
}

.content {
  margin-top: 8px;
}

.count {
  font-size: 20px;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.text {
  color: $color-primary;
  font-weight: 600;
  font-size: 32px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;

  svg {
    width: 32px;
    height: 32px;
    margin: 0 8px;
    fill: $color-primary;
    cursor: pointer;
  }
}